html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.add {
  background-image:url('../img/insert.png');
  width:24px;
  height:24px;
  margin-left: 8px;
  background-color: #8DC8FF;
  border-color: #ccc;
}

.delete {
  background-image:url('../img/trash.jpg');
  width:28px;
  height:28px;
  margin-left: 8px;
  background-color: #8DC8FF;
  border-color: #ccc;
}

.load {
  background-color: black;
  margin: 0 auto;
}

.blue {
  color: #8DC8FF;
  text-decoration: line-through;
}

.black {
  color: black;
}

.checkbox{
  width: 20px;
  height: 20px;
}